.main {
    padding: 30px 50px 30px 50px;

    & h1 {
        display: flex;
        justify-content: center;
        color: #00d3ef !important;

    }

}

.titreProjets {
    color: white !important;
    font-size: 22px;
    padding-bottom: 10px;
    box-shadow: 0 20px 40px black (0, 0, 0, 0.7);
    padding-top: 40px;
}

.projets {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 60px;


}

.projetTitle {}


img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
    cursor: pointer;


}

.dropdown {
    border-radius: 20px;
    width: 100%;
    padding: 8px;
    max-width: 160px;
    font-size: 18px;
    display: none;


}

.grid {
    display: flex;
    justify-content: center;
}


img:hover+.description,
.description:hover {
    opacity: 1;
    visibility: visible;
    transition: 1s ease-in-out;
}

.description {
    border-radius: 12px;
    padding: 6px;
    color: white;
    position: relative;
    max-width: 400px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 200px;
    margin-top: -204px;
    max-width: 400px;
    padding-top: 6px;
    background-color: #192542;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: 1s ease-in-out;



    & button {
        border-radius: 16px;
        width: 60%;
        background-color: #00d3ef;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

    }


}


.menu {
    display: flex;
    flex-direction: column;
    background-color: grey;
}


@media screen and (max-width: 800px) {

    .projets {
        grid-template-columns: repeat(2, 2fr);
    }

}

@media screen and (max-width: 750px) {
    .projets {
        grid-template-columns: repeat(2, 2fr);
    }

    .titreProjets {
        font-size: 16px;
    }


    .titreProjets {
        margin-top: 40px;

    }

    .description {
        font-size: 13px;


        & button {
            width: 40%;
            font-size: 13px;
        }
    }
}