
.main {
    padding: 30px 50px 30px 50px;

    & h1 {
        display: flex;
        justify-content: center;
        color: #00d3ef !important;
       
    }

}
.titreProjets {
    color: white !important;
    font-size: 22px;
    padding-bottom: 10px;
    box-shadow: 0 20px 40px black (0, 0, 0, 0.7);
    padding-top: 40px;
}

.projets {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap:40px;
  

}

.projetTitle {
    
}

@media screen and (max-width: 800px) {

.projets {
    grid-template-columns: repeat(2, 2fr);
}

}
@media screen and (max-width: 750px) { 
    .projets {
        grid-template-columns: repeat(2, 2fr);
    }

    .titreProjets {
        font-size: 16px;
    }

    .description {
    max-height: 200px;
    }

        .titreProjets {
           margin-top: 40px;
            
        }
    .description  {
        font-size: 15px;
        min-height: 200px;
    }
}

img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
    cursor: pointer;
   
    

}

.dropdown {
    border-radius: 20px;
    width:100%;
    padding: 8px;
    max-width: 160px;
    font-size: 18px;
    display: none;
    
    
}

.grid {
    display: flex;
    justify-content: center;
}


img:hover + .description {
    visibility: visible;
    

    
}


.description {
    
    border-radius: 12px;
    padding: 6px;
    color: white;
    position: relative;
    display: flex;
    max-width: 400px;
    max-height: 200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
    margin-top: -204px;
    
    padding-top: 0px;
    background-color: #192542;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
   visibility: hidden;
    z-index: 2;
    opacity: 90%;

    

    & button {
        border-radius: 16px;
        width: 60%;
        background-color:#00d3ef;
        color: white;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

   
}


 
    




.menu {
    display: flex;
    flex-direction: column;
    background-color: grey;
}