.Footer {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
        background-color: #192542;
    padding: 30px;
    
  

   
}

.cv:hover {
    transform: scale(1.1);
}

.cv {
    gap:10px;
}

.end {
    text-align: center;
    color: white;
}

@media screen and (max-width: 750px) {

    .cv {
        font-size: 12px;
    }
    

}

@media screen and (max-width: 430px) {

    .cv {
            font-size: 8px;
        }
}
